.actions
  .action
    = link_to 'Panhandle for one hour', panhandle_path, class: 'button'
  .action
    = link_to 'Rummage for one hour', rummage_path, class: 'button'
  .action
    = form_tag controller: :bums, action: :sleep do
      = submit_tag "Sleep for 1 hour", id: 'sleep-button', class: 'button'
      = range_field_tag :hours, 1, { required: true, in: 1..8, onChange: 'updateSleepValue(this.value)' }
  \--------------------
  %br
  .groceries
    - if @bum.present?
      - @groceries.each do |grocery|
        - next unless grocery.purchaseable?(@bum.money) && grocery.available?(@bum)
        .action
          = form_tag controller: :bums, action: :consume, method: :post do
            = hidden_field_tag :grocery_id, grocery.id
            = submit_tag "#{grocery.button_text} (#{number_to_currency(grocery.dollars)})", class: 'button'
      - @items.each do |item|
        - next unless item.affordable?(@bum.money) && !@bum.items.include?(item.id)
        .action
          = form_tag controller: :bums, action: :purchase, method: :post do
            = hidden_field_tag :item_id, item.id
            = submit_tag "#{item.button_text} (#{number_to_currency(item.dollars)})", class: 'button'
