.actions
  .action
    = link_to 'Panhandle for one hour', panhandle_path, class: 'button'
  .action
    = form_tag controller: :bums, action: :sleep do
      = label_tag(:hours, "Sleep for:")
      = range_field_tag :hours, 1, { required: true, in: 1..8 }
      = label_tag(:hours, "hours. (1-8)")
      = submit_tag("Sleep")
  - if @bum.present?
    - Grocery.each do |grocery|
      - grocery_vm = GroceryViewModel.wrap(grocery)
      - next unless grocery_vm.purchaseable?(@bum.money)
      .action
        = form_tag controller: :bums, action: :consume, method: :post do
          = hidden_field_tag :grocery_id, grocery_vm.id
          = submit_tag "#{grocery_vm.verb.titleize} #{grocery_vm.name} (#{number_to_currency(grocery_vm.dollars)})", disabled: grocery_vm.available?(@bum.time.hour)
