.left-column
  .stats
    .stat
      = "Energy: 16/16"
      .meter
        .fill{ style: 'width: 100%'}
    .stat
      = "Hunger: 600/600"
      .meter
        .fill{ style: 'width: 100%'}
    .stat
      = "Life: 1000/1000"
      .meter
        .fill{ style: 'width: 100%'}
    .stat= "Money: #{number_to_currency(0)}"

  = render 'actions'

.right-column
  .stat= "#{BumSimulator::Application.config.starting_date_time.strftime('%A %b %-d, %Y, %l %p')}" + " \u2600"
  .story
    .text You wake up in a gutter in Philadelphia PA.  The year is 1983.  The last thing you remember is rocking back and forth in a mental hospital, shrieking and drooling.  Society has left you to die.  What next?
