- if @bum.life <= 0
  %h2 You are dead.
  = link_to 'Play again', new_bum_path
- else
  .left-column
    .stats
      .stat
        = "Energy: #{@bum.energy}/16"
        .meter
          .fill{ style: "width: #{@bum.energy_fill}px"}
      .stat
        = "Stomach: #{@bum.calories}/600"
        .meter
          .fill{ style: "width: #{@bum.hunger_fill}px"}
      .stat
        = "Life: #{@bum.life}/1000"
        .meter
          .fill{ style: "width: #{@bum.life_fill}px"}
      .stat= "Money: #{number_to_currency(@bum.money / 100.0)}"

    = render 'actions'
    \--------------------
    .inventory
      .h3
        Inventory
        .ul
        - @bum.item_names.each do |item|
          .li= item

  .right-column
    .stat= "#{@bum.date_time}" + " #{@bum.day_symbol}"
    .story
      - @bum.diary.entries.last.line_items.each do |line|
        .text= line.text
        - if line.money != 0
          - verb = line.money > 0 ? 'made' : 'lost'
          .change= " #{@bum.line_mark(line.money)}You #{verb} #{number_to_currency(line.money.abs / 100.0)}."
        - if line.appeal != 0
          - verb = line.appeal > 0 ? 'gained' : 'lost'
          .change= " #{@bum.line_mark(line.appeal)}You #{verb} #{line.appeal} appeal."
