- if @bum.life <= 0
  %h1 You are dead.
  = link_to 'Play again', new_bum_path
- else
  %p= "You #{@bum.diary.values.last}"

  .stats
    %p= @bum.time.strftime('%b %-d, %Y, %l %p')
    %p= "Energy: #{@bum.energy}/16"
    %p= "Hunger: #{@bum.calories}/2000"
    %p= "Life: #{@bum.life}/1000"
    %p= "Money: $#{@bum.money / 100.00}"


  = link_to 'Panhandle for one hour', panhandle_path
  %br
  = form_tag controller: :bums, action: :sleep do
    = label_tag(:hours, "Sleep for:")
    = range_field_tag :hours, 1, { required: true, in: 1..8 }
    = label_tag(:hours, "hours. (1-8)")
    = submit_tag("Sleep")
