- if @bum.life <= 0
  %h2 You are dead.
  = link_to 'Play again', new_bum_path
- else
  %p.story= @bum.diary.values.last

  .stats
    .stat= @bum.time.strftime('%b %-d, %Y, %l %p')
    .stat
      = "Energy: #{@bum.energy}/16"
      .meter
        .fill{ style: "width: #{(@bum.energy / 16.0 ) * 250 }px"}
    .stat
      = "Hunger: #{@bum.calories}/2000"
      .meter
        .fill{ style: "width: #{(@bum.calories / 2000.0 ) * 250 }px"}
    .stat
      = "Life: #{@bum.life}/1000"
      .meter
        .fill{ style: "width: #{(@bum.life / 1000.0 ) * 250 }px"}
    .stat= "Money: #{number_to_currency(@bum.money / 100.0)}"

  = render 'actions'
