- if @bum.life <= 0
  %h2 You are dead.
  = link_to 'Play again', new_bum_path
- else
  .left-column
    .stats
      .stat
        = "Energy: #{@bum.energy}/16"
        .meter
          .fill{ style: "width: #{@bum.energy_fill}px"}
      .stat
        = "Stomach: #{@bum.calories}/600"
        .meter
          .fill{ style: "width: #{@bum.hunger_fill}px"}
      .stat
        = "Life: #{@bum.life}/1000"
        .meter
          .fill{ style: "width: #{@bum.life_fill}px"}
      .stat= "Money: #{number_to_currency(@bum.money / 100.0)}"

    = render 'actions'
    - if @bum.item_names.present?
      \--------------------
      .inventory
        .h3
          Inventory:
          .ul
          - @bum.item_names.each do |item|
            .li= item

  .right-column
    .stat= "#{@bum.date_time}" + " #{@bum.day_symbol}"

    .story
      - entry = @bum.diary.entries.last
      - if entry.line_items.special_good.any?
        .special-good
          - entry.line_items.special_good.each do |line|
            .text= line.text
            - if line.money != 0
              - verb = line.money > 0 ? 'made' : 'lost'
              .change= " #{@bum.line_mark(line.money)}You #{verb} #{number_to_currency(line.money.abs / 100.0)}."
            - if line.appeal != 0
              - verb = line.appeal > 0 ? 'gained' : 'lost'
              .change= " #{@bum.line_mark(line.appeal)}You #{verb} #{line.appeal} appeal."
      - if entry.line_items.special_bad.any?
        .special-bad
          - entry.line_items.special_bad.each do |line|
            .text= line.text
            - if line.money != 0
              - verb = line.money > 0 ? 'made' : 'lost'
              .change= " #{@bum.line_mark(line.money)}You #{verb} #{number_to_currency(line.money.abs / 100.0)}."
            - if line.appeal != 0
              - verb = line.appeal > 0 ? 'gained' : 'lost'
              .change= " #{@bum.line_mark(line.appeal)}You #{verb} #{line.appeal} appeal."
      .normal
        - entry.line_items.normal.each do |line|
          .text= line.text
          - if line.money != 0
            - verb = line.money > 0 ? 'made' : 'lost'
            .change= " #{@bum.line_mark(line.money)}You #{verb} #{number_to_currency(line.money.abs / 100.0)}."
          - if line.appeal != 0
            - verb = line.appeal > 0 ? 'gained' : 'lost'
            .change= " #{@bum.line_mark(line.appeal)}You #{verb} #{line.appeal} appeal."
